<div [@fadeIn] class="container text-center h-100" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-12 align-self-center">
            <h1>Welcome to Pokedex</h1>
            <blockquote class="blockquote" style="padding-left: 200px; padding-right: 200px;">
                Here you can manage your pokemons. How? You can List them, Search a specific one, Add a new one and also edit them
                <blockquote></blockquote>
            </blockquote>
        </div>
    </div>
</div>