<div class="container">

    <div class="row mt-4">
        <div class="col">
            <h4 class="text-center"> Complete the following fields to add a new Ability </h4>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="form-group row mt-4 justify-content-center">
            <div class="col-8">
                <app-name-input placeholder="Name"
                                formControlName="abilityName"
                                [isInvalid]="invalidName">
                </app-name-input>
                <small *ngIf="invalidName" class="text-danger"> 
                    Name is required 
                </small>
            </div>
        </div>

        <div class="form-group row mt-4 justify-content-center">
            <div class="col-8">
                <app-level-input placeholder="Damage"
                                 formControlName="damage"
                                 [isInvalid]="invalidDamage">
                </app-level-input>
                <small *ngIf="invalidDamage" class="text-danger"> 
                    Damage is required 
                </small>   
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <div class="col-2">
                <button class="btn btn-outline-dark btn-block"
                        type="submit">
                    Save changes
                </button>
            </div>
            <div class="col-2">
                <button class="btn btn-dark btn-block"
                        type="button"
                        (click)="handleBackClick()">
                    Back
                </button>
            </div>
        </div>
    </form>
    
<!-- <hr>
    <pre>
        Form's state: {{ form.valid}}
        <br>
        Status: {{form.status}}
    </pre>

    <pre>
        {{ form.value | json}}
    </pre>

-->
</div> 