<div class="container">

    <div class="row mt-4">
        <div class="col">
            <h4 class="text-center"> Complete the following fields to add a new Ability </h4>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="form-group row mt-4">
            <div class="col-2">
                <label class="d-flex justify-content-center col-form-label"> Name </label>
            </div>
            <div class="col-8">
                <input class="form-control"
                        type="text"
                        placeholder="New Ability's name"
                        formControlName="abilityName"
                        [class.is-invalid]="invalidName">
                <small *ngIf="invalidName" class="text-danger"> 
                    Name is required 
                </small>
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-2">
                <label class="d-flex justify-content-center col-form-label"> Damage </label>
            </div>
            <div class="col-8">
                <input class="form-control"
                        type="number"
                        placeholder="New Ability's damage"
                        formControlName="damage"
                        [class.is-invalid]="invalidDamage">
                <small *ngIf="invalidDamage" class="text-danger"> 
                    Damage is required 
                </small>   
            </div>
        </div>
        <div class="form-group row justify-content-center mt-4">
            <div class="col-2">
                <button class="btn btn-outline-dark btn-block"
                        type="submit">
                    Save changes
                </button>
            </div>
            <div class="col-2">
                <button class="btn btn-dark btn-block"
                        type="button"
                        (click)="handleBackClick()">
                    Back
                </button>
            </div>
        </div>
    </form>
    
<!-- <hr>
    <pre>
        Form's state: {{ form.valid}}
        <br>
        Status: {{form.status}}
    </pre>

    <pre>
        {{ form.value | json}}
    </pre>

-->
</div> 