<div class="container" style="background-color: white;">
    <div class="row justify-content-center">
        <h3 class="text-center">Pokemon will be created</h3>
    </div>
    <div class="row justify-content-center">
        <h4 class="text-center">Do you confirm?</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <button (click)="setConfirmation(true)" class="btn btn-dark btn-block">Yes</button>
        </div>
        <div class="col-3">
            <button (click)="setConfirmation(false)" class="btn btn-danger btn-block">No</button>
        </div>
    </div>
</div>