<div class="container">
    <h4 class="text-center m-4"> Add or remove types </h4>


    <div class="row mt-5">
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h5 class="text-center"> Types to add </h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ul class="list-group mt-3">
                        <li *ngFor="let type of pokemonTypesToAdd" 
                            class="list-group-item list-group-item-action list-group-item-dark">
                            <span class="badge"
                                  [ngStyle]="{'background-color': type.backgroundColor, 'color': type.textColor }" >
                                <h6>{{type.name}}</h6>
                            </span>
                            <button class="btn btn-outline-dark float-right"
                                    (click)="handleAddClick(type.name)"> 
                                    Add 
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h5 class="text-center" > Types to remove </h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ul class="list-group mt-3">
                        <li *ngFor="let type of pokemonTypesToDelete"
                            class="list-group-item list-group-item-action list-group-item-dark">
                            <span class="badge"
                                  [ngStyle]="{'background-color': type.backgroundColor, 'color': type.textColor }" >
                                <h6>{{type.name}}</h6>
                            </span>
                            <button class="btn btn-outline-danger float-right"
                                    (click)="handleRemoveClick(type.name)"> 
                                    Remove 
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="notTypesError" class="alert alert-warning" style="margin-top: 20px;">
                <strong>Warning!</strong> Not allowed to set any type. Add one type at least
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-2">
            <button class="btn btn-outline-dark btn-block"
                    (click)="saveChanges()">
                    Save changes 
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-dark btn-block"
                    (click)="handleBackClick()"> 
                    Back 
            </button>
        </div>
    </div>

</div>