<div class="container">
    <h4 class="text-center m-4">Complete the following fields to add a new Pokemon</h4>

    <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">

        <div class="form-group row mt-4 justify-content-center">
            <div class="col-8">
                <app-name-input placeholder='Name'
                                formControlName="name"
                                [isValid]="validName"
                                [isInvalid]="invalidName">
                </app-name-input>
                <span *ngIf="loading" class="fa fa-spinner fa-spin in-input"></span>
                <small *ngIf="invalidRepeteadName" class="text-danger">
                    That pokemon's name already exists
                </small>
                <small *ngIf="requiredName" class="text-danger">
                    Name is required
                </small>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-8">
                <app-level-input formControlName="level"
                                 placeholder='Level'
                                 [isInvalid]="invalidLevel">
                </app-level-input>
                <small *ngIf="invalidLevel" class="text-danger">
                    Level is required
                </small>
            </div>
        </div>

        <app-types-select [types]="pokemonsTypes"
                            formControlName="currentType"
                            (currentType)="addType($event)"
                            [invalidType]="invalidType"
                            [requiredType]="requiredType"
                            [notAddedType]="notAddedType">
        </app-types-select>

        <div formArrayName="selectedTypes">
            <div class="form-group row justify-content-center" *ngFor="let type of selectedTypes.controls; let i = index">
                <div class="col-4">
                    <input class="form-control text-center"
                           type="text"
                           [formControlName]=i
                           readonly
                           [ngStyle]="{'background-color': getCurrentTypeObject(type.value).backgroundColor, 'color': getCurrentTypeObject(type.value).textColor }">
                </div>
                <div class="col-4">
                    <button class="btn btn-danger btn-block" type="button" (click)="deleteType(i)">Delete</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-8">
                <button class="btn btn-outline-dark btn-block"
                        type="submit"
                        [disabled]="loading">
                    Add pokemon
                </button>
            </div>
        </div>
    </form> 
</div>

  



