<div class="row" style="margin-top: 20px;">
    <div class="col-3 align-self-center">
        <blockquote>Enter a pokemon's name</blockquote>
    </div>
    <div class="col-4">
        <input class="form-control" placeholder="Pikachu" [(ngModel)]="searchInput" />
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-3">
        <button (click)=handleInfoClick() class="btn btn-dark"> Pokemon's Info </button>
    </div>
    <div class="col-3">
        <button class="btn btn-dark" (click)=handleAbilitiesClick()> Abilites </button>
    </div>
    <div class="col-3">
        <button class="btn btn-dark" (click)=handleEvolutionsClick()> Evolutions </button>
    </div>
</div>

<div *ngIf="infoSelected && pokemon" class="table-responsive">
    <table class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Types</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.level}}</td>
                <td>{{pokemon.types}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="abilitiesSelected && pokemon" class="table-responsive">
    <table class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Damage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ability of pokemon.abilities">
                <td>{{ability.name}}</td>
                <td>{{ability.damage}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="evolutionsSelected && pokemon" class="table-responsive">
    <table class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level Required</th>
                <th scope="col">Types</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evolution of pokemon.evolutions">
                <td>{{evolution.name}}</td>
                <td>{{evolution.levelRequired}}</td>
                <td>{{evolution.types}}</td>
            </tr>
        </tbody>
    </table>
</div>