/* You can add global styles to this file, and also import other style files */
.in-input {
    float: right;
    margin-right: 11px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
}

footer {
	background: #1f1f1f;
    clear: both;
    display: block;
    padding: 0 0 1em;
	width: 100%;
	position: sticky;
	bottom: 0;
	top: 0;
	margin-top: auto;	
}	

content {
	position: relative;
	height: 100%;
	width:100%;
	margin-bottom: auto;
    padding: 0;
}
